<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {{#each images as |image|}}
      <div class="item">
        <div class="image-container">
          <img src={{image.url}} alt={{image.title}} class={{image.size}}>
          <!-- <p>{{image.piecetitle}}<br>{{image.artists}}</p> -->
        </div>
        <p>
          <span>
            {{image.piecetitle}}<br>{{image.artists}}
          </span>
        </p>
      </div>
    {{/each}}
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
  </a>
  <p class="follow">PREV</p>
</div>

{{yield}}
