<div class="main-nav">
    <div class="left-half">
      {{#link-to 'home' class="logo"}}
        <!-- <img src="images/2mass-logo.svg" alt=""> -->
        2MASS
      {{/link-to}}

      {{#link-to 'about' class="about-link"}}
        ABOUT
      {{/link-to}}
    </div>
    <div class="right-half">
      <p>NEXT SHOW: SATURDAY JULY, 14, 2017</p>
    </div>
</div>

    <!-- {{#if showPage}} -->
    <!-- <div class="container info">
      {{outlet}}
    </div> -->
    <!-- {{else}} -->
    <!-- <div class="container home">
      {{outlet}}
    </div> -->

    <!-- <div class="login">
      {{#if session.isAuthenticated}}
        <a href="#" {{action 'logout'}}>Logout</a>
      {{else}}
        {{#link-to 'login'}}
          Login
        {{/link-to}}
      {{/if}}
    </div> -->
    <!-- {{/if}} -->
<div class="container home">
  {{outlet}}
</div>
<div class="footer">
  <p>'FRIENDSHIP'  FEATURING  NOAH  JACKSON,  JACOB  HAUPT</p>
  <p>JULY, 14 -15, 2017</p>
  <p>ATTEND THE NEXT 2MASS</p>
  <p>'FRIENDSHIP'  FEATURING  NOAH  JACKSON,  JACOB  HAUPT</p>
</div>
