<div>
    <div class="main-nav">
        <div class="bot-left">
          {{#link-to 'home'}}
            <img src="images/2mass-logo.svg" alt="">
          {{/link-to}}
        </div>
    </div>

    {{#if showPage}}
    <div class="container info">
      {{outlet}}
    </div>
    {{else}}
    <div class="container home">
      {{outlet}}
    </div>
    <div class="login">
      {{#if session.isAuthenticated}}
        <a href="#" {{action 'logout'}}>Logout</a>
      {{else}}
        {{#link-to 'login'}}
          Login
        {{/link-to}}
      {{/if}}
    </div>
    {{/if}}
</div>
