{{main-nav isMobile=isMobile isInitialLoad=isInitialLoad randomLanding=randomLanding}}

{{#if allImages.length}}
  {{#if randomLanding}}
    {{random-landing isMobile=isMobile isInitialLoad=isInitialLoad allImages=allImages randomLanding=randomLanding}}
  {{/if}}
{{/if}}

{{#if showPage}}
<div class="container show">
  {{outlet}}
</div>
{{else}}
<div class="container home">
  {{outlet}}
</div>
{{/if}}
