<div class="photos">
  {{#each model.images as |image|}}
    <img src={{image.url}} alt={{image.title}} class="w80">
  {{/each}}
</div>
<div class="content has-scroll">
  <div class="content-inner">
    <p class="show-title">
      EXHIBITION:
      <br>
      {{ model.title }}
    </p>
    <p>
      {{{ model.text }}}
    </p>
  </div>
  {{alt-footer-left people=model.people}}
</div>

{{outlet}}
