<div class="left">
  {{#each model.images as |img|}}
    <img src="{{img.url}}" alt="">
  {{/each}}
</div>
<div class="right">
  <div class="text">
    <p>{{model.title}}</p>
    <p>{{model.date}}</p>
    <p>{{model.artists}}</p>
    <p>{{model.text}}</p>
  </div>
</div>

{{outlet}}
