<div class="left">
  <!-- <img src="/images/zoa-1.jpg" alt="">
  <img src="/images/zoa-2.jpg" alt="">
  <img src="/images/zoa-3.jpg" alt="">
  <img src="/images/zoa-4.jpg" alt="">
  <img src="/images/zoa-5.jpg" alt="">
  <img src="/images/zoa-6.jpg" alt=""> -->
</div>
<div class="right">
  <div class="text">
    <p>{{model.title}}</p>
    <p>{{model.date}}</p>
    <p>{{model.artists}}</p>
    <p>{{model.text}}</p>
  </div>
</div>

{{outlet}}
